p{color:blue;}
html {
  height: 100%;
}
body {
   text-align:center;
   #page-wrap{
     text-align:left;
     width: 800px;
     height: 0 auto;
   }
   width: 800px;
   height: 100%;
}
img {
  width: 960px;
  height: 477px;
  margin-top: 20px; /* Half the height */
  margin-left: 130px; /* Half the width */
}
header {
    background-color:#00CD66 ;
    padding: 5px;
    border: 10px solid #000000 ;
    font-size:30 ;
    display: block;
}
nav {
    float: left;
    width: 100%;
}
nav ul {
    padding: ;
    float: left;
    border-bottom: ;
    list-style-type: none;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    height: 25px;
    padding: 12px 18px 8px 18px;
    vertical-align: middle;
}
a {
    color:black;
}
section {
  backround-color:;
    width: 73%;
    display: inline-block;
    float: left;
}
aside {
    width: 17%;
    display: inline-block;
    background-color:;
    padding:;
    min-height: 100%;
}
aside ul {
    list-style-type: none;
}
footer {
    width: 790px;
    background-color:;
    color:;
    clear: both
    display: block;
}
